:root {
    --max-body-width: 90%;
}

body {
    align-items: center;
    width: 100%;
    height: 100%;
}

rdfcsa-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
